<div class="container pt-5">
	<div class="card self-card border-0">
		<a href="./about">
			<div class="row no-gutters">
				<div class="col-auto">
					<img src="./static/src/Thect.jpg" class="align-middle card-photo " alt="">
				</div>
				<div class="col-md">
					<div class="card-block py-4 px-4">
						<h4 class="card-title">
							<%= locals.idName %> <%= realName %>
						</h4>
						<p class="card-text">
							<%= selfDescription %>
						</p>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>